body {
    background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/assortment-of-colorful-ripe-tropical-fruits-top-royalty-free-image-995518546-1564092355.jpg);
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header-menu {
display: flex;
margin: 0 auto;
justify-content: space-around;
align-items: center;
background-color: white;
padding: 5px;
margin-bottom: 20px;
}
.logo img {
    width: 10%;
}
.header-menu a {
    text-decoration-color: rgb(131, 130, 130);
    margin: 10px;
    color: rgb(131, 130, 130);
}
.header-menu a:hover {
    color: black;
}
.content img {
    width: 40%;
    float: left;
    margin: 0 15px 0 0;
}
main {
    display: flex;
    margin: 0 auto;
    background-color: white;
    width: 72%;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
footer {
    background-color: white;
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 50px;
}
.form-content {
    display: block;
    padding-bottom: 20px;
}